<header>
    <div style="display: flex; align-items: center; justify-content: left; gap: 20px; height: 100px;">
        <a href="https://www.kth.se/" style="margin-right: 20px;">
            <img src="https://www.kth.se/img/logotype-white-6f02f4554cba157ca832fa452bf242a4.svg" alt="KTH Logo" style="height: 70px;">
        </a>
        <div>
        <h2 style="color: white; margin: 10px; font-size: 30px;">{{ .Site.Title }}</h2>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}" style="font-size:20px;">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        </div>
    </div>
</header>
